<style>
  .pp-86E6KQLSLVF5G {
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    min-width: 11.625rem;
    padding: 0 2rem;
    height: 2.625rem;
    font-weight: bold;
    background-color: #ffd140;
    color: #000000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
  }
</style>
<form
  action="https://www.paypal.com/ncp/payment/86E6KQLSLVF5G"
  method="post"
  target="_blank"
  style="
    display: inline-grid;
    justify-items: center;
    align-content: start;
    gap: 0.5rem;
  "
>
  <input class="pp-86E6KQLSLVF5G" type="submit" value="Donate $25" />
  <img src=https://www.paypalobjects.com/images/Debit_Credit.svg alt="cards" />
  <section style="font-size: 0.75rem;">
    Powered by
    <img
      src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg"
      alt="paypal"
      style="height: 0.875rem; vertical-align: middle;"
    />
  </section>
</form>

<style>
  .pp-7EAD2B6AA2F64 {
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    min-width: 11.625rem;
    padding: 0 2rem;
    height: 2.625rem;
    font-weight: bold;
    background-color: #ffd140;
    color: #000000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
  }
</style>
<form
  action="https://www.paypal.com/ncp/payment/7EAD2B6AA2F64"
  method="post"
  target="_blank"
  style="
    display: inline-grid;
    justify-items: center;
    align-content: start;
    gap: 0.5rem;
  "
>
  <input class="pp-7EAD2B6AA2F64" type="submit" value="Donate $50" />
  <img src=https://www.paypalobjects.com/images/Debit_Credit.svg alt="cards" />
  <section style="font-size: 0.75rem;">
    Powered by
    <img
      src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg"
      alt="paypal"
      style="height: 0.875rem; vertical-align: middle;"
    />
  </section>
</form>

<style>
  .pp-SVW7PUMW8AHK8 {
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    min-width: 11.625rem;
    padding: 0 2rem;
    height: 2.625rem;
    font-weight: bold;
    background-color: #ffd140;
    color: #000000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
  }
</style>
<form
  action="https://www.paypal.com/ncp/payment/SVW7PUMW8AHK8"
  method="post"
  target="_blank"
  style="
    display: inline-grid;
    justify-items: center;
    align-content: start;
    gap: 0.5rem;
  "
>
  <input class="pp-SVW7PUMW8AHK8" type="submit" value="Donate $100" />
  <img src=https://www.paypalobjects.com/images/Debit_Credit.svg alt="cards" />
  <section style="font-size: 0.75rem;">
    Powered by
    <img
      src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg"
      alt="paypal"
      style="height: 0.875rem; vertical-align: middle;"
    />
  </section>
</form>

<style>
  .pp-AB3JPMNYXD6DA {
    text-align: center;
    border: none;
    border-radius: 0.25rem;
    min-width: 11.625rem;
    padding: 0 2rem;
    height: 2.625rem;
    font-weight: bold;
    background-color: #ffd140;
    color: #000000;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.25rem;
    cursor: pointer;
  }
</style>
<form
  action="https://www.paypal.com/ncp/payment/AB3JPMNYXD6DA"
  method="post"
  target="_blank"
  style="
    display: inline-grid;
    justify-items: center;
    align-content: start;
    gap: 0.5rem;
  "
>
  <input class="pp-AB3JPMNYXD6DA" type="submit" value="Specify Donation $" />
  <img src=https://www.paypalobjects.com/images/Debit_Credit.svg alt="cards" />
  <section style="font-size: 0.75rem;">
    Powered by
    <img
      src="https://www.paypalobjects.com/paypal-ui/logos/svg/paypal-wordmark-color.svg"
      alt="paypal"
      style="height: 0.875rem; vertical-align: middle;"
    />
  </section>
</form>
