@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
  --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.left-panel {
  background-size: cover;
  background-position: top right;
}

.right-panel-desktop {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: slategray;
}

.times-font {
  font-family: "Times New Roman", Times, serif;
}

.playfair-font {
  font-family: "Playfair Display", serif;
}

.arial-black-font {
  font-family: "Arial Black", Gadget, sans-serif;
}

.outlined-text {
  color: white;
  text-shadow: -2px -2px 0 slategray, 2px -2px 0 slategray, -2px 2px 0 slategray,
    2px 2px 0 slategray;
}

.intro-image {
  max-width: 15vw;
  object-fit: cover;
  padding: 1rem;
}

@media (max-width: 767px) {
  .intro-image {
    max-width: 23vw;
    padding: 0.5rem;
  }
}

.sponsorship-bg {
  background-color: rgba(237, 212, 210, 0.7);
  height: 100%;
  width: 95dvw;
  padding: 3rem;
}

@media (max-width: 767px) {
  .sponsorship-bg {
    padding: 1rem;
  }
}

.sponsorship-level {
  margin-top: 1rem;
}

.sponsorship-banner {
  background-position: center;
  background-size: cover;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.8);
}

.join-us-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  filter: blur(20px);
  z-index: 0;
  transform: scale(1.1); /* Prevent blur edges from showing */
}

.circle-bg {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.join-us-upper-right {
  width: 175px;
  height: 175px;
}

.join-us-lower-left {
  width: 30rem;
  height: 30rem;
}

.join-us-lower-left-text {
  color: white;
  font-size: 1.2rem;
  line-height: 1.5;
}

.join-us-lower-left-text div {
  margin-bottom: 1rem;
}

@media (max-width: 767px) {
  .join-us-lower-left {
    width: 20rem;
    height: 20rem;
  }

  .join-us-lower-left-text {
    color: white;
    font-size: 0.9rem;
    line-height: 1.2;
  }
}
