// app global css in SCSS form
.playfair-font {
    font-family: "Playfair Display", serif;
}

.arial-black-font {
    font-family: "Arial Black", Gadget, sans-serif;
}

.text-underline {
    border-bottom: 1px solid white;
}

.nav-underline {
    text-decoration: underline;
}

.outlined-text {
    color: white;
    text-shadow: -2px -2px 0 slategray, 2px -2px 0 slategray, -2px 2px 0 slategray,
        2px 2px 0 slategray;
}

.welcome-left-panel-image::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--q-primary);
    opacity: 0.35;
    pointer-events: none;
    /* Allows clicks to pass through */
}

.welcome-right-panel {
    padding: 1rem;
    padding-top: 15vh;

    div {
        margin-bottom: 1rem;
    }
}

.welcome-right-panel-clapboard {
    position: absolute;
    margin-top: 1rem;
    right: 1rem;
    height: 12vh;
    object-fit: contain;
}

.intro-image {
    max-width: 15vw;
    object-fit: cover;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 15rem;
}

.introduction-section {
    min-height: 15rem;
}

@media (max-width: 767px) {
    .intro-image {
        max-width: 50%;
        padding: 0.5rem;
        height: 10rem;
    }

    .introduction-section {
        min-height: 10rem;
    }
}

.gallery-banner {
    width: 100%;
    height: 20vh;
    object-fit: cover;
    background-image: url('/images/gallery-2023/gallery-banner.jpg');
    background-position: center;

    .text-h2,
    .text-h5 {
        line-height: 20vh;
        color: white;
        text-shadow: hsl(0, 0%, 0%) 1px 1px 0, hsl(0, 0%, 0%) -1px -1px 0, hsl(0, 0%, 0%) 1px -1px 0, hsl(0, 0%, 0%) -1px 1px 0;
    }
}

.sponsorship-bg {
    background-color: rgba(237, 212, 210, 0.7);
    height: 100%;
    width: 95dvw;
    padding: 3rem;
}

@media (max-width: 767px) {
    .sponsorship-bg {
        padding: 1rem;
    }
}

.sponsorship-level {
    margin-top: 1rem;
}

.sponsorship-banner {
    background-position: center;
    background-size: cover;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.8);
}

.outline-star {
    color: white;
    text-shadow: -1px -1px 3px slategray, 1px -1px 3px slategray, -1px 1px 3px slategray,
        1px 1px 3px slategray;
}

.join-us-lower-left {
    width: 30rem;
    height: 30rem;
}

.join-us-lower-left-text {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5;
}

.join-us-lower-left-text div {
    margin-bottom: 1rem;
}

@media (max-width: 767px) {
    .join-us-lower-left {
        width: 20rem;
        height: 20rem;
    }

    .join-us-lower-left-text {
        color: white;
        font-size: 0.9rem;
        line-height: 1.2;
    }
}

.auction-palooza-left-panel {
    background-image: url("/images/auction-palooza-bg.jpeg");
    height: 105vh;

    div {
        background-color: rgba(255, 255, 255, 0.75);
        padding: 1rem;
    }

    ul {
        list-style: outside;
        list-style-type: '-';
    }
}

.auction-palooza-right-panel {
    background-image: url('/images/auction-palooza-right-bg.png');
    background-size: contain;
    background-repeat: no-repeat;

    .text-h4,
    .text-h5 {
        font-weight: 700;
    }

    .content {
        padding-top: 10rem;
    }

    ul {
        margin-left: 3rem;
        list-style: outside;
        list-style-type: '- ';
    }
}